.input[type="checkbox"] {
  display:none;

  &+label {
    display: inline-block;

    position: relative;

    height: 22px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;

    color: #495057;
    cursor: pointer;
    vertical-align: top;

    &::before {
      content: '';

      width: 40px;
      height: 20px;

      display: inline-block;
      position: relative;
      vertical-align: top;

      margin: 0px 4px 0px 0px;
      border: 1px solid #DEE2E6;
      border-radius: 11px;
    }

    &::after {
      content: '';

      display: inline-block;

      position: absolute;
      top: 2px;
      left: 2px;

      width: 18px;
      height: 18px;

      border-radius: 50%;

      vertical-align: top;
      background: #F1F3F5;
      transition: .1s ease-in-out;
    }
  }

  &:checked+label::after {
    display: inline-block;
    
    position: absolute;
    left: 22px;

    background: #3B5BDB;
  }

  &:disabled+label {
    &::before {
      background-color: #CED4DA;
    }
    &::after {
      background: #F1F3F5;
    }
  }
}