$text-color: #495057;
$underline-color: #CED4DA;

.menu {
  margin-top: 62px;

  position: relative;

  min-width: 320px;

  font-family: "Nanum Gothic";
  font-size: 14px;
  color: $text-color;

  & .linkList {
    text-align: center;

    & .link {
      display: inline-block;
      height: 36px;

      margin: 0px 10px;
      padding: 0px 10px;

      vertical-align: top;
      line-height: 36px;
    }

    & .active {
      border-bottom: 2px solid $underline-color;
      font-weight: bold;
    }
  }

  & .logout {
    display: inline-block;

    position: absolute;
    top: 0px;
    right: 10px;
  }

  & a {
    text-decoration: none;
    outline: none;

    &:hover, &:visited, &:active {
      text-decoration: none;
      color: $text-color;
    }
  }
}