.user {
  margin: auto;
  padding: 0px 10px;

  min-width: 300px;
  max-width: 540px;

  & .header {
    position: relative;

    margin-top: 60px;
    border-bottom: 2px #DEE2E6 solid;

    height: 40px;

    & .back {
      display: inline-block;

      height: 40px;
      line-height: 40px;
      vertical-align: middle;

      & a {
        display: inline-block;
        height: 40px;

        color: #868e96;
      }
    }

    & .save {
      position: absolute;
      right: 0px;
    }
  }

  & .items {
    padding: 0px 10px;

    & .item {
      margin: 10px 0px 0px 0px;

      & .title {
        margin: 0px;
      }
  
      & .discription {
        margin: 4px 0px 0px 0px;
  
        color: #868E96;
        font-size: 12px;
      }
      
      & .content {
        margin: 12px 0 24px 0;
        
        & .input {
          margin: 0px 0px 0px 0px;
        }
      }
    }
  }
}