$width: 32;
$height: 32;

$small-width: 18;
$small-height: 18;

$color: #ADB5BD;
$disabled-color: #F1F3F5;

@function svgIcon($color, $width, $height) {
  $color: rgba($color, 0.999);
  $icon: "data:image/svg+xml,%3Csvg width='#{$width}' height='#{$height}' viewBox='0 0 30 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.3125 32H6.64575C4.62305 32 2.97925 30.356 2.97925 28.3333V11C2.97925 10.448 3.42725 10 3.97925 10C4.53125 10 4.97925 10.448 4.97925 11V28.3333C4.97925 29.252 5.72705 30 6.64575 30H23.3125C24.2312 30 24.9792 29.252 24.9792 28.3333V11C24.9792 10.448 25.4272 10 25.9792 10C26.5312 10 26.9792 10.448 26.9792 11V28.3333C26.9792 30.356 25.3352 32 23.3125 32Z' fill='#{$color}'/%3E%3Cpath d='M28.6458 12H1.3125C0.760498 12 0.3125 11.552 0.3125 11V7.66675C0.3125 5.64404 1.95654 4 3.97925 4H25.9792C28.002 4 29.6458 5.64404 29.6458 7.66675V11C29.6458 11.552 29.1978 12 28.6458 12ZM2.3125 10H27.6458V7.66675C27.6458 6.74805 26.8979 6 25.9792 6H3.97925C3.06055 6 2.3125 6.74805 2.3125 7.66675V10Z' fill='#{$color}'/%3E%3Cpath d='M20.6458 6C20.0938 6 19.6458 5.552 19.6458 5V2.33325C19.6458 2.14941 19.4966 2 19.3125 2H10.6458C10.4619 2 10.3125 2.14941 10.3125 2.33325V5C10.3125 5.552 9.8645 6 9.3125 6C8.7605 6 8.3125 5.552 8.3125 5V2.33325C8.3125 1.04663 9.35913 0 10.6458 0H19.3125C20.5991 0 21.6458 1.04663 21.6458 2.33325V5C21.6458 5.552 21.1978 6 20.6458 6Z' fill='#{$color}'/%3E%3Cpath d='M14.9792 26.6667C14.4272 26.6667 13.9792 26.2188 13.9792 25.6667V17C13.9792 16.448 14.4272 16 14.9792 16C15.5312 16 15.9792 16.448 15.9792 17V25.6667C15.9792 26.2188 15.5312 26.6667 14.9792 26.6667Z' fill='#{$color}'/%3E%3Cpath d='M9.3125 26.6667C8.7605 26.6667 8.3125 26.2188 8.3125 25.6667V17C8.3125 16.448 8.7605 16 9.3125 16C9.8645 16 10.3125 16.448 10.3125 17V25.6667C10.3125 26.2188 9.8645 26.6667 9.3125 26.6667Z' fill='#{$color}'/%3E%3Cpath d='M20.6458 26.6667C20.0938 26.6667 19.6458 26.2188 19.6458 25.6667V17C19.6458 16.448 20.0938 16 20.6458 16C21.1978 16 21.6458 16.448 21.6458 17V25.6667C21.6458 26.2188 21.1978 26.6667 20.6458 26.6667Z' fill='#{$color}'/%3E%3C/svg%3E%0A";
  @return url($icon)
}

.icon {
  background-image: svgIcon($color, $width, $height);
  background-repeat: no-repeat;

  width: #{$width}px;
  height: #{$height}px;
  display: inline-block;

  &.small {
    background-image: svgIcon($color, $small-width, $small-height);
    width: #{$small-width}px;
    height: #{$small-height}px;
  }

  &.disabled {
    background-image: svgIcon($disabled-color, $small-width, $small-height);
  }
}
