.input {
  background-color: #FFFFFF;
  color: #495057;
  height: 28px;
  margin: 0px;
  border: 1px solid #DEE2E6;
  padding: 0px 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  &.fullWidth {
    width: 100%;
  }  
}
