.input {
  height: 36px;

  margin: 0px;
  border: 1px solid #DEE2E6;
  padding: 0px 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  background-color: #FFFFFF;
  color: #495057;
  transition: .1s ease-in-out;
  
  &:disabled {
    background-color: #CED4DA;
    color: #F1F3F5;
  }

  &:focus {
    outline: none;
  }

  &.fullWidth {
    width: calc(100% - 12px);
    &.leftIcon {
      width: calc(100% - 37px);
    }
  }

  &.leftIcon {
    padding-left: 30px;
  }
}

.icon {
  position: absolute;

  width: 18px;
  height: 18px;
  
  margin-top: 1px;
  padding: 9px;
}
