.input {
  height: 36px;

  margin: 0px;
  border: 1px solid #DEE2E6;
  padding: 0px 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  background-color: #FFFFFF;
  color: #495057;

  &:focus {
    outline: none;
  }

  &.fullWidth {
    width: 100%;
  }

  &.leftIcon {
    padding-left: 30px;
  }
}

.icon {
  position: absolute;

  width: 18px;
  height: 18px;
  
  padding: 9px;
}
