$width: 32;
$height: 32;
$color: #DEE2E6;

@function svgIcon($color, $width, $height) {
  $color: rgba($color, 0.999);
  $icon: "data:image/svg+xml,%3Csvg width='#{$width}' height='#{$height}' viewBox='0 0 #{$width} #{$height}' fill='#{$color}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 15.3338C8.32376 15.3338 5.33313 12.3434 5.33313 8.66752C5.33313 4.99161 8.32376 2.00098 11.9997 2.00098C15.6756 2.00098 18.6662 4.99161 18.6662 8.66752C18.6662 12.3434 15.6756 15.3338 11.9997 15.3338ZM11.9997 4.00091C9.4265 4.00091 7.33307 6.09411 7.33307 8.66752C7.33307 11.2407 9.4265 13.3339 11.9997 13.3339C14.5728 13.3339 16.6663 11.2407 16.6663 8.66752C16.6663 6.09411 14.5728 4.00091 11.9997 4.00091Z' fill='#{$color}'/%3E%3Cpath d='M22.9993 30H0.999969C0.447984 30 0 29.552 0 29V24.3334C0 20.8416 2.84122 18.0004 6.33305 18.0004H17.6662C21.158 18.0004 23.9993 20.8416 23.9993 24.3334V29C23.9993 29.552 23.5513 30 22.9993 30ZM1.99994 28.0001H21.9993V24.3334C21.9993 21.9443 20.0553 20.0003 17.6662 20.0003H6.33305C3.94397 20.0003 1.99994 21.9443 1.99994 24.3334V28.0001Z' fill='#{$color}'/%3E%3Cpath d='M30.999 15.6672H19.6661C19.1141 15.6672 18.6661 15.2193 18.6661 14.6673C18.6661 14.1153 19.1141 13.6673 19.6661 13.6673H30.999C31.551 13.6673 31.999 14.1153 31.999 14.6673C31.999 15.2193 31.551 15.6672 30.999 15.6672Z' fill='#{$color}'/%3E%3Cpath d='M25.6659 21.0004C25.4098 21.0004 25.154 20.903 24.9592 20.7072C24.5685 20.3164 24.5685 19.6831 24.9592 19.2925L29.5857 14.6659L24.9592 10.0393C24.5685 9.6487 24.5685 9.01542 24.9592 8.62481C25.3498 8.23419 25.9831 8.23419 26.3739 8.62481L31.707 13.9579C32.0976 14.3485 32.0976 14.982 31.707 15.3727L26.3739 20.7057C26.1779 20.903 25.9218 21.0004 25.6659 21.0004Z' fill='#{$color}'/%3E%3C/svg%3E%0A";
  @return url($icon)
}

.icon {
  background-image: svgIcon($color, $width, $height);
  background-repeat: no-repeat;

  width: #{$width}px;
  height: #{$height}px;
  display: inline-block;
}