.warpper {
  margin: auto;
  padding: 0px 10px;

  min-width: 300px;
  max-width: 540px;

  & .header {
    position: relative;
  
    border-bottom: 2px solid #DEE2E6;
  
    height: 80px;
  
    & .find {
      position: absolute;
      right: 0px;
  
      width: 300px;
    }
  
    & .checkAll {
      position: absolute;
      left: 10px;
      bottom: 4px;
    }
  
    & .icons {
      position: absolute;
      right: 4px;
      bottom: 2px;
  
      & .iconButton {
        margin-left: 6px;
        border: 0;
        border-radius: 16px;
        padding: 0;

        width: 32px;
        height: 32px;
    
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
    
        &:focus {
          outline: none;
        }
      }
    }
  }
}
