.item {
  position: relative;

  margin: 6px 10px;
  padding: 4px 4px;
  height: 22px;

  line-height: 22px;

  &:hover {
    background: #f1f3f5;
  }

  & .edit {
    position: absolute;
    top: 6px;
    right: 4px;

    cursor: pointer;
  }
}