$border-color: #DEE2E6;
$backgroud-color: #FFFFFF;
$disabled-background-color: #CED4DA;

@function svgIcon($background, $border, $line) {
  $background: rgba($background, 0.999);
  $border: rgba($border, 0.999);
  $line: rgba($line, 0.999);
  $icon: "data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='17' height='17' fill='#{$background}' stroke='#{$border}'/%3E%3Cpath d='M4 9C5.98431 11.1647 7.27124 12.5686 7.66667 13L15 5' stroke='#{$line}'/%3E%3C/svg%3E%0A";
  @return url($icon)
}

.checkbox[type="checkbox"] {
  display:none;

  &+label {
    display: inline-block;

    position: relative;

    height: 22px;

    font-family: "Nanum Gothic";
    font-size: 12px;
    line-height: 22px;

    color: #495057;
    cursor: pointer;
    vertical-align: top;

    &::before {
      content: '';

      display: inline-block;

      width: 22px;
      height: 22px;

      margin: 0 4px 0 0;
      
      line-height: 22px;
      text-align: center;
      vertical-align: top;
      box-sizing: border-box;
  
      background-image: svgIcon($backgroud-color, $border-color, $backgroud-color);
      transition: .1s ease-in-out;
    }
  }

  &:checked+label::before {
    background-image: svgIcon($backgroud-color, $border-color, #868E96);
  }

  &:disabled+label::before {
    background-image: svgIcon($disabled-background-color, $border-color, $disabled-background-color);
  }

  &:disabled:checked+label::before {
    background-image: svgIcon($disabled-background-color, $border-color, #F1F3F5);
  }
}
