$color: #3B5BDB;
$dark-color: darken($color, 10%);
$darker-color: darken($color, 20%);
$disabled-color: #CED4DA;
$text-color: #F1F3F5;

$outline-color: #FFFFFF;
$outline-disabled-color: #E9ECEF;
$outline-text-color: #495057;
$outline-disabled-text-color: #495057;

.button {
  height: 36px;

  margin: 0px;
  border: none;
  padding: 0px 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;

  cursor: pointer;
  background-color: $color;
  color: $text-color;

  display: table-cell;

  &:focus {
    outline: none;
  }
  
  &:hover {
    background-color: $dark-color;
  }

  &:active {
    background-color: $darker-color;
  }
  
  &:enabled, &[enabled] {
    transition: .05s ease-in-out;
  }

  &:disabled, &[disabled] {
    transition: .05s ease-in-out;
    background-color: $disabled-color;
    cursor: default;
  }

  &.large {
    height: 54px;
    line-height: 54px;

    font-size: 18px;
  }

  &.fullWidth {
    width: 100%;
  }

  &.outline {
    border: 2px solid #DEE2E6;

    background-color: $outline-color;
    color: $outline-text-color;

    &:active {
      border: 2px solid darken(#DEE2E6, 10%);
      background-color: darken($outline-color, 10%);
    }

    &:disabled, &[disabled] {
      background-color: $outline-disabled-color;
      color: $outline-disabled-text-color;
    }
  }
}
