$color: #3B5BDB;
$dark-color: darken($color, 10%);
$darker-color: darken($color, 20%);

$disabled-color: #CED4DA;

$text-color: #F1F3F5;

.button {
  background-color: $color;
  color: $text-color;

  height: 30px;

  margin: 0;
  border: none;
  padding: 4;

  text-align: center;

  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  transition: .1s ease-in-out;
  
  &:focus {
    outline: none;
  }
  
  &:hover {
    background-color: $dark-color;
  }

  &:active {
    background-color: $darker-color;
  }
  
  &:disabled, &[disabled] {
    background-color: $disabled-color;
    cursor: default;
  }

  &.fullWidth {
    width: 100%;
  }
}